Cython==0.29.17
matplotlib==3.5.1
numpy==1.22.3
opencv-python==4.5.5.62
opencv-python-headless==4.6.0.66
pandas==1.4.1
Pillow==9.2.0
PyYAML==6.0
seaborn==0.11.2
tensorboard==2.9.1
torch==1.10.1
torchaudio==0.10.1
torchtext
torchvision==0.11.2